ul.timeline {
	list-style: none;
	overflow: hidden;
	margin: 0;
	margin-top: 2em;
}

.slide .timeline > li {
	width: 25%;
	float: left;
	text-indent: 0;
	text-align: center;
}

.slide .timeline > li:before {
	display: none;
}

.timeline img {
	width: 60%;
	margin-top: 20px;
}

.timeline > li:before {
	content: '->';
	margin-right: 10px;
}

.timeline > li:first-child:before {
	content: '';
}

.timeline > li:first-child {
	margin-left: 0;
}